Software Development/Node red framework/node red installation/flows_raspberrypi.json
[{"id":"6da14c3a.4f8cac","type":"tab","label":"Flow 1"},{"id":"a4803580.6c00f","type":"tab","label":"Flow 2"},{"id":"9745fdb9.da9d18","type":"tab","label":"Flow 3"},{"id":"30dce0f7.4d3258","type":"tab","label":"Flow 4"},{"id":"5c1a54f6.3290f4","type":"ui_group","z":"","name":"CPU Temperature","tab":"d9916eac.36326","order":2,"disp":true,"width":"8"},{"id":"75135b86.7b19b4","type":"ui_group","z":"","name":"CPU Load","tab":"d9916eac.36326","order":3,"disp":true,"width":"8"},{"id":"a2b9f04e.d6a27","type":"ui_group","z":"","name":"Memory","tab":"d9916eac.36326","order":4,"disp":true,"width":"8"},{"id":"6e19f892.7e223","type":"ui_group","z":"","name":"Actions","tab":"d9916eac.36326","order":1,"disp":true,"width":"6"},{"id":"ef65a4a6.62bf88","type":"ui_group","z":"","name":"Disk Usage","tab":"d9916eac.36326","order":6,"disp":true,"width":"8"},{"id":"d9916eac.36326","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"c273fc0d.74b9b8","type":"ui_group","z":"","name":"CPU Temperature","tab":"961054ed.a259f8","order":2,"disp":true,"width":"8"},{"id":"c842e685.fa0ad8","type":"ui_group","z":"","name":"CPU Load","tab":"961054ed.a259f8","order":3,"disp":true,"width":"8"},{"id":"ed1836e2.74dba","type":"ui_group","z":"","name":"Memory","tab":"961054ed.a259f8","order":4,"disp":true,"width":"8"},{"id":"26e2013.4f11afe","type":"ui_group","z":"","name":"Actions","tab":"961054ed.a259f8","order":1,"disp":true,"width":"6"},{"id":"a2fe3091.767d88","type":"ui_group","z":"","name":"Disk Usage","tab":"961054ed.a259f8","order":6,"disp":true,"width":"8"},{"id":"961054ed.a259f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"4498ca8c.adb6a4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3c8485f8.95ed12","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2c0343d6.86632c","type":"ui_group","z":"","name":"Lights","tab":"93f47add.a7ff3","order":1,"disp":true,"width":"6"},{"id":"eb870b47.bd28e","type":"ui_group","z":"","name":"Climate Sensors","tab":"93f47add.a7ff3","order":2,"disp":true,"width":"6"},{"id":"ab5e08f1.e2da48","type":"ui_group","z":"","name":"Complaints","tab":"93f47add.a7ff3","order":4,"disp":true,"width":"6"},{"id":"93f47add.a7ff3","type":"ui_tab","z":"","name":"Room 1","icon":"dashboard","order":7},{"id":"bb9c707a.599068","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7daac647.c59d38","type":"ui_group","z":"","name":"MQTT Console","tab":"9200b638.90e0d8","order":1,"disp":true,"width":"10"},{"id":"9200b638.90e0d8","type":"ui_tab","z":"","name":"MQTT Console","icon":"dashboard","order":3},{"id":"c3c67c2a.10318","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"338f64fd.0de784","type":"ui_group","z":"","name":"PID","tab":"7868ae0b.98c2a","order":1,"disp":true,"width":"6"},{"id":"7868ae0b.98c2a","type":"ui_tab","z":"","name":"Light Test","icon":"dashboard","order":"1"},{"id":"7db3ce02.682f48","type":"exec","z":"6da14c3a.4f8cac","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp","x":453,"y":138,"wires":[["d0803f08.c002b8"],[],[]]},{"id":"4999cd8a.6dde84","type":"inject","z":"6da14c3a.4f8cac","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":159,"y":317,"wires":[["efdeb0d9.83dc2","7db3ce02.682f48","2fd6ee51.bf5e1a","eae33a6.d0af5c8"]]},{"id":"d0803f08.c002b8","type":"function","z":"6da14c3a.4f8cac","name":"SubString","func":"str = msg.payload \nmsg.payload  = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":125,"wires":[["3c8b9802.920ed8","51bbbc55.e0dcdc"]]},{"id":"3c8b9802.920ed8","type":"ui_gauge","z":"6da14c3a.4f8cac","name":"T CPU","group":"5c1a54f6.3290f4","order":1,"width":"0","height":"0","gtype":"gage","title":"CPU Temp.","label":"°C","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#b6e203","#ca3838"],"seg1":"","seg2":"","x":913,"y":125,"wires":[]},{"id":"efdeb0d9.83dc2","type":"exec","z":"6da14c3a.4f8cac","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":450,"y":247.5,"wires":[["b67372f5.f6b28","ac476328.471f6"],[],[]]},{"id":"b67372f5.f6b28","type":"ui_gauge","z":"6da14c3a.4f8cac","name":"CPU LOAD","group":"75135b86.7b19b4","order":1,"width":"0","height":"0","gtype":"donut","title":"CPU LOAD","label":"%","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":934,"y":238,"wires":[]},{"id":"2fd6ee51.bf5e1a","type":"exec","z":"6da14c3a.4f8cac","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":451,"y":358,"wires":[["1fc600f.1cd367f","904c879f.489d48"],[],[]]},{"id":"1fc600f.1cd367f","type":"ui_gauge","z":"6da14c3a.4f8cac","name":"Free Memory","group":"a2b9f04e.d6a27","order":1,"width":"0","height":"0","gtype":"wave","title":"Free Memory","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#b6e203","#ca3838"],"seg1":"","seg2":"","x":931,"y":348,"wires":[]},{"id":"ac476328.471f6","type":"ui_chart","z":"6da14c3a.4f8cac","name":"","group":"75135b86.7b19b4","order":2,"width":0,"height":0,"label":"CPU LOAD","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":935,"y":288,"wires":[[],[]]},{"id":"51bbbc55.e0dcdc","type":"ui_chart","z":"6da14c3a.4f8cac","name":"","group":"5c1a54f6.3290f4","order":2,"width":0,"height":0,"label":"T CPU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":913,"y":179,"wires":[[],[]]},{"id":"904c879f.489d48","type":"ui_chart","z":"6da14c3a.4f8cac","name":"","group":"a2b9f04e.d6a27","order":2,"width":0,"height":0,"label":"Free Memory","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":401,"wires":[[],[]]},{"id":"3283f696.55530a","type":"ui_button","z":"6da14c3a.4f8cac","name":"","group":"6e19f892.7e223","order":2,"width":"6","height":"1","passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":249,"y":628,"wires":[["f380dad4.d0cfd"]]},{"id":"f380dad4.d0cfd","type":"exec","z":"6da14c3a.4f8cac","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":451,"y":628,"wires":[[],[],[]]},{"id":"168e309a.ef08cf","type":"ui_button","z":"6da14c3a.4f8cac","name":"","group":"6e19f892.7e223","order":3,"width":"6","height":"1","passthru":false,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":246,"y":689,"wires":[["cb0fb468.5bd7a8"]]},{"id":"cb0fb468.5bd7a8","type":"exec","z":"6da14c3a.4f8cac","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":452.5,"y":689.25,"wires":[[],[],[]]},{"id":"eae33a6.d0af5c8","type":"exec","z":"6da14c3a.4f8cac","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":462,"y":495,"wires":[["eb9b033a.7b72f"],[],[]]},{"id":"2e33546c.5ab6cc","type":"ui_gauge","z":"6da14c3a.4f8cac","name":"","group":"ef65a4a6.62bf88","order":1,"width":0,"height":0,"gtype":"wave","title":"Disk % Used","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":922,"y":492,"wires":[]},{"id":"eb9b033a.7b72f","type":"function","z":"6da14c3a.4f8cac","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":689,"y":495,"wires":[["2e33546c.5ab6cc","6d568c1f.6ab89c"]]},{"id":"81c39ba6.a86e98","type":"ui_button","z":"6da14c3a.4f8cac","name":"","group":"6e19f892.7e223","order":0,"width":"6","height":"1","passthru":false,"label":"Clear Cache","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":252,"y":747,"wires":[["f67adcb3.08f698"]]},{"id":"f67adcb3.08f698","type":"exec","z":"6da14c3a.4f8cac","command":"sudo sh -c \"sync; echo 3 > /proc/sys/vm/drop_caches\"","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Clear Cache","x":455,"y":766,"wires":[[],[],[]]},{"id":"bec41567.5d7c38","type":"inject","z":"6da14c3a.4f8cac","name":"","topic":"","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":false,"x":252,"y":785,"wires":[["f67adcb3.08f698"]]},{"id":"6d568c1f.6ab89c","type":"ui_chart","z":"6da14c3a.4f8cac","name":"","group":"ef65a4a6.62bf88","order":2,"width":0,"height":0,"label":"Disk Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":919,"y":545,"wires":[[],[]]},{"id":"79fee4c2.a98e04","type":"comment","z":"6da14c3a.4f8cac","name":"Clears cache every 12 hrs if not clicked","info":"","x":707.5,"y":767,"wires":[]},{"id":"3e2f0024.bdd88","type":"mqtt in","z":"a4803580.6c00f","name":"Temperature","topic":"root1/temperature","qos":"2","broker":"3c8485f8.95ed12","x":888,"y":190,"wires":[["e1d9a75b.46f7c8","1bdc9b90.596ab4"]]},{"id":"4039ca75.c627e4","type":"mqtt out","z":"a4803580.6c00f","name":"lamp 1","topic":"room1/lamp1","qos":"","retain":"","broker":"3c8485f8.95ed12","x":577,"y":190,"wires":[]},{"id":"733ad0f0.28427","type":"ui_switch","z":"a4803580.6c00f","name":"Lamp 1","label":"Lamp-1","group":"2c0343d6.86632c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room1/lamp1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":433,"y":191,"wires":[["4039ca75.c627e4"]]},{"id":"79ba6278.8f003c","type":"mqtt in","z":"a4803580.6c00f","name":"Humidity","topic":"room1/Humidity","qos":"2","broker":"3c8485f8.95ed12","x":881,"y":336,"wires":[["af383b71.1312a8","846e4b5c.43495"]]},{"id":"7e8ec12a.964c88","type":"mqtt out","z":"a4803580.6c00f","name":"lamp 2","topic":"room1/lamp2","qos":"","retain":"","broker":"3c8485f8.95ed12","x":575,"y":235,"wires":[]},{"id":"cbd96448.e3ad68","type":"ui_switch","z":"a4803580.6c00f","name":"Lamp 2","label":"Lamp-2","group":"2c0343d6.86632c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room1/lamp2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":431,"y":236,"wires":[["7e8ec12a.964c88"]]},{"id":"e1d9a75b.46f7c8","type":"ui_chart","z":"a4803580.6c00f","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1162,"y":192,"wires":[[],[]]},{"id":"af383b71.1312a8","type":"ui_gauge","z":"a4803580.6c00f","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1125,"y":339,"wires":[]},{"id":"846e4b5c.43495","type":"ui_chart","z":"a4803580.6c00f","name":"Humidity","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1123,"y":390,"wires":[[],[]]},{"id":"1bdc9b90.596ab4","type":"ui_gauge","z":"a4803580.6c00f","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"F","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1161,"y":246,"wires":[]},{"id":"c20ae50b.64c99","type":"ui_form","z":"a4803580.6c00f","name":"","label":"Complaints","group":"ab5e08f1.e2da48","order":0,"width":0,"height":0,"options":[{"label":"First Name","value":"First Name","type":"text","required":true},{"label":"Last Name","value":"Last Name","type":"text","required":true},{"label":"Address","value":"address","type":"number","required":true},{"label":"Phone Number","value":"0000000000","type":"number","required":true},{"label":"Complaint","value":"stuff here","type":"text","required":true}],"formValue":{"First Name":"","Last Name":"","address":"","0000000000":"","stuff here":""},"payload":"","topic":"Complaints","x":65,"y":190,"wires":[["6a05fc13.07f594"]]},{"id":"6a05fc13.07f594","type":"e-mail","z":"a4803580.6c00f","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":285,"y":190,"wires":[]},{"id":"2a3f124a.e1c4be","type":"comment","z":"a4803580.6c00f","name":"Climate controlls","info":"","x":897,"y":124,"wires":[]},{"id":"c77b80cb.e3d74","type":"comment","z":"a4803580.6c00f","name":"Lighting","info":"","x":426,"y":125,"wires":[]},{"id":"86d6cb0b.b4b658","type":"comment","z":"a4803580.6c00f","name":"User Feedback","info":"","x":87,"y":138,"wires":[]},{"id":"67a91f34.5aa89","type":"comment","z":"a4803580.6c00f","name":"Safety and utility sensors","info":"","x":1570,"y":111,"wires":[]},{"id":"f245294a.3742b","type":"debug","z":"9745fdb9.da9d18","name":"","active":true,"console":"false","complete":"payload","x":338,"y":120,"wires":[]},{"id":"638d5f70.e31058","type":"mosca in","z":"9745fdb9.da9d18","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MQTT Broker","username":"admins","password":"Derps","dburl":"","x":137,"y":120,"wires":[["f245294a.3742b"]]},{"id":"169b8fee.0fc0d8","type":"mqtt in","z":"9745fdb9.da9d18","name":"","topic":"#","qos":"2","broker":"bb9c707a.599068","x":116,"y":325,"wires":[["ea9a833c.d58068","cc4c911c.57fb68"]]},{"id":"ea9a833c.d58068","type":"debug","z":"9745fdb9.da9d18","name":"MQTT # RAW","active":false,"console":"false","complete":"payload","x":726,"y":325,"wires":[]},{"id":"cc4c911c.57fb68","type":"function","z":"9745fdb9.da9d18","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":396,"y":385,"wires":[["82031fd7.ba6d98","23156f5f.d1dd98"]]},{"id":"82031fd7.ba6d98","type":"debug","z":"9745fdb9.da9d18","name":"mqtt array","active":true,"console":"false","complete":"payload","x":716,"y":405,"wires":[]},{"id":"23156f5f.d1dd98","type":"ui_template","z":"9745fdb9.da9d18","group":"7daac647.c59d38","name":"MQTT Output","order":1,"width":"9","height":"10","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":726,"y":365,"wires":[[]]},{"id":"6c2d5531.aefc54","type":"mqtt out","z":"9745fdb9.da9d18","name":"","topic":"","qos":"","retain":"","broker":"bb9c707a.599068","x":736,"y":505,"wires":[]},{"id":"b9237149.ad165","type":"ui_text_input","z":"9745fdb9.da9d18","name":"Message","label":"Message","group":"7daac647.c59d38","order":3,"width":"","height":"","passthru":true,"mode":"text","delay":"300","topic":"message","x":126,"y":445,"wires":[["6bc491ad.578d38"]]},{"id":"c15eef51.94da4","type":"ui_button","z":"9745fdb9.da9d18","name":"Submit","group":"7daac647.c59d38","order":4,"width":"6","height":"2","passthru":false,"label":"SUBMIT","color":"black","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":116,"y":485,"wires":[["6bc491ad.578d38"]]},{"id":"6bc491ad.578d38","type":"function","z":"9745fdb9.da9d18","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":396,"y":465,"wires":[["6c2d5531.aefc54","f2ee66b9.890338"]]},{"id":"f2ee66b9.890338","type":"debug","z":"9745fdb9.da9d18","name":"MQTT Monitor","active":true,"console":"false","complete":"true","x":706,"y":465,"wires":[]},{"id":"71716f44.2a6fe8","type":"ui_text_input","z":"9745fdb9.da9d18","name":"Topic","label":"Topic/","group":"7daac647.c59d38","order":2,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"topic","x":116,"y":405,"wires":[["6bc491ad.578d38"]]},{"id":"e2e8ba0c.d28df","type":"ui_button","z":"9745fdb9.da9d18","name":"Clear","group":"7daac647.c59d38","order":0,"width":"4","height":"2","passthru":false,"label":"CLEAR","color":"black","bgcolor":"","icon":"fa-trash","payload":"","payloadType":"str","topic":"","x":116,"y":525,"wires":[["71716f44.2a6fe8","b9237149.ad165"]]},{"id":"93a70fc8.5bc49","type":"comment","z":"9745fdb9.da9d18","name":"MQTT Console","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":146,"y":285,"wires":[]},{"id":"c2e220e3.d3e53","type":"mqtt in","z":"30dce0f7.4d3258","name":"Landscape light Status","topic":"AlliedTest","qos":"2","broker":"c3c67c2a.10318","x":179,"y":226,"wires":[["e28553fa.fc3a18","da701227.a9ee6"]]},{"id":"53922976.3cbd3","type":"mqtt out","z":"30dce0f7.4d3258","name":"Landscape Light Control","topic":"AlliedTest","qos":"","retain":"false","broker":"c3c67c2a.10318","x":824,"y":588,"wires":[]},{"id":"6b99c6e.5700a38","type":"ui_button","z":"30dce0f7.4d3258","name":"Light On","group":"338f64fd.0de784","order":1,"width":"","height":"","passthru":false,"label":"Light On","color":"","bgcolor":"","icon":"","payload":"on_override","payloadType":"str","topic":"","x":170,"y":467,"wires":[["8e971da6.22e12"]]},{"id":"ee9c9cab.e34298","type":"ui_button","z":"30dce0f7.4d3258","name":"Light Off","group":"338f64fd.0de784","order":1,"width":"","height":"","passthru":false,"label":"Light Off","color":"","bgcolor":"","icon":"","payload":"off_override","payloadType":"str","topic":"","x":167,"y":559,"wires":[["8e971da6.22e12"]]},{"id":"11b1c609.c39c0a","type":"debug","z":"30dce0f7.4d3258","name":"","active":true,"console":"false","complete":"payload","x":789,"y":503,"wires":[]},{"id":"edaa55d1.a239c8","type":"e-mail","z":"30dce0f7.4d3258","server":"smtp.mail.att.net","port":"465","secure":true,"name":"5599030346@vtext.com","dname":"","x":816,"y":245,"wires":[]},{"id":"e28553fa.fc3a18","type":"ui_template","z":"30dce0f7.4d3258","group":"338f64fd.0de784","name":"On-Off Indicator","order":1,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between center\">\n<p flex>&nbsp;</p>\n    <ng-md-icon icon=\"wb_incandescent\" ng-style=\"{fill:msg.payload=='1' ?'red':'black'}\" size=\"32\"></ng-md-icon>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":407,"y":305,"wires":[[]]},{"id":"cc910d09.162c","type":"ui_switch","z":"30dce0f7.4d3258","name":"Enable Send SMS Status Message","label":"Enable Send SMS Status Message","group":"338f64fd.0de784","order":1,"width":"","height":"","passthru":true,"decouple":"false","topic":"AlliedTest","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":513,"y":171,"wires":[["770fbc72.39fc4c"]]},{"id":"ec8f2398.dd53d","type":"debug","z":"30dce0f7.4d3258","name":"","active":false,"console":"false","complete":"false","x":809,"y":340,"wires":[]},{"id":"770fbc72.39fc4c","type":"function","z":"30dce0f7.4d3258","name":"Switchvariable","func":"global.set(\"Sendsms\",msg.payload);\n","outputs":1,"noerr":0,"x":814,"y":176,"wires":[[]]},{"id":"93fe2c8e.7fa6e8","type":"function","z":"30dce0f7.4d3258","name":"SendSMS","func":"var Sendmessage=global.get(\"Sendsms\");\nif (Sendmessage==\"true\")\n{\nreturn msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":608,"y":243,"wires":[["edaa55d1.a239c8","ec8f2398.dd53d"]]},{"id":"da701227.a9ee6","type":"function","z":"30dce0f7.4d3258","name":"Format Status Text","func":"m = msg.payload;\nif (m == \"1\")\n{\n    return {payload:\"Landscape Lights On\"};\n}\nelse if (m == \"0\")\n{\n    return {payload:\"Landscape Lights Off\"};\n}","outputs":1,"noerr":0,"x":431,"y":243,"wires":[["93fe2c8e.7fa6e8"]]},{"id":"80744daa.92c","type":"ui_button","z":"30dce0f7.4d3258","name":"Auto","group":"338f64fd.0de784","order":1,"width":"","height":"","passthru":false,"label":"Auto","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":159,"y":514,"wires":[["8e971da6.22e12"]]},{"id":"8e971da6.22e12","type":"bigtimer","z":"30dce0f7.4d3258","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Landscape Lights","lat":"36.797025","lon":"-119.670181","starttime":"5001","endtime":"1335","startoff":0,"endoff":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":415,"y":524.5,"wires":[["53922976.3cbd3","11b1c609.c39c0a"],[],[]]}]