Software Development/Node red framework/Current Node Red Flows/Node Red Flows.txt
[{"id":"6da14c3a.4f8cac","type":"tab","label":"System Information","disabled":false,"info":""},{"id":"668f07ae.6c1b2","type":"tab","label":"MQTT Admin Console","disabled":false,"info":""},{"id":"e9c8b028.34811","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"36b8f532.e9e362","type":"tab","label":"Climate","disabled":false,"info":""},{"id":"bec2020.523948","type":"tab","label":"Security","disabled":false,"info":""},{"id":"30dce0f7.4d3258","type":"tab","label":"Light Control Tests","disabled":false,"info":""},{"id":"c58c7d4f.61534","type":"tab","label":"MYSQL TESTS","disabled":false,"info":""},{"id":"6ee6fffc.c7a9d","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"5c1a54f6.3290f4","type":"ui_group","z":"","name":"CPU Temperature","tab":"140da793.4fe0e8","order":2,"disp":true,"width":"5"},{"id":"75135b86.7b19b4","type":"ui_group","z":"","name":"CPU Load","tab":"140da793.4fe0e8","order":3,"disp":true,"width":"5"},{"id":"6e19f892.7e223","type":"ui_group","z":"","name":"Actions","tab":"140da793.4fe0e8","order":1,"disp":true,"width":"5"},{"id":"ef65a4a6.62bf88","type":"ui_group","z":"","name":"Disk Usage","tab":"140da793.4fe0e8","order":2,"disp":true,"width":"5"},{"id":"d9916eac.36326","type":"ui_tab","z":"","name":"Installer Controls","icon":"dashboard","order":1},{"id":"4498ca8c.adb6a4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2c0343d6.86632c","type":"ui_group","z":"","name":"Lights","tab":"","order":1,"disp":true,"width":"6"},{"id":"eb870b47.bd28e","type":"ui_group","z":"","name":"Climate Sensors","tab":"","order":2,"disp":true,"width":"6"},{"id":"7daac647.c59d38","type":"ui_group","z":"","name":"MQTT Console","tab":"d9916eac.36326","order":4,"disp":true,"width":"8"},{"id":"338f64fd.0de784","type":"ui_group","z":"","name":"PID","tab":"","order":1,"disp":true,"width":"6"},{"id":"9e28d0f3.d24b18","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6a00af47.5683","type":"MySQLdatabase","z":"","host":"192.168.1.30","port":"3306","db":"nodered","tz":""},{"id":"43b2b585.fd8ffc","type":"ui_group","z":"","name":"Memory","tab":"140da793.4fe0e8","order":1,"disp":false,"width":"6"},{"id":"36009bc.a55f964","type":"mqtt-broker","z":"6da14c3a.4f8cac","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"cc7ffd65.ec34d","type":"ui_group","z":"6da14c3a.4f8cac","name":"PID Controller For CPU Temperature of Raspberry Pi","tab":"d9916eac.36326","order":3,"disp":true,"width":"9"},{"id":"cf5bcb0a.28a2a8","type":"ui_group","z":"","name":"Lights","tab":"d9916eac.36326","order":5,"disp":true,"width":"6"},{"id":"140da793.4fe0e8","type":"ui_tab","z":"","name":"System Monitor","icon":"dashboard","order":2},{"id":"e9b2e0fc.ca835","type":"mqtt-broker","z":"6da14c3a.4f8cac","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"a184073a.06f578","type":"ui_group","z":"6da14c3a.4f8cac","name":"PID Controller For CPU Temperature of Raspberry Pi","tab":"8d7dedcd.5c9af","disp":true,"width":"9"},{"id":"8d7dedcd.5c9af","type":"ui_tab","z":"6da14c3a.4f8cac","name":"Home","icon":"dashboard"},{"id":"91249ff5.d2b28","type":"websocket-listener","z":"36b8f532.e9e362","path":"/ws/simple","wholemsg":"false"},{"id":"d57f0ecd.113e1","type":"ui_tab","z":"","name":"Home","icon":"home","order":1},{"id":"3ceb7deb.8239f2","type":"mqtt-broker","z":"c58c7d4f.61534","broker":"192.168.1.7","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"7db3ce02.682f48","type":"exec","z":"6da14c3a.4f8cac","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp","x":270.33331298828125,"y":153.55555725097656,"wires":[["156a793b.eaabe7","46e5a063.821c8"],[],[]]},{"id":"3c8b9802.920ed8","type":"ui_gauge","z":"6da14c3a.4f8cac","name":"T CPU","group":"5c1a54f6.3290f4","order":1,"width":"0","height":"0","gtype":"gage","title":"CPU Temp.","label":"°C","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#b6e203","#ca3838"],"seg1":"","seg2":"","x":740.3333129882812,"y":93.55555725097656,"wires":[]},{"id":"efdeb0d9.83dc2","type":"exec","z":"6da14c3a.4f8cac","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":270.5555419921875,"y":277.44444274902344,"wires":[["b67372f5.f6b28","ac476328.471f6","4d41afaf.432cb"],[],[]]},{"id":"b67372f5.f6b28","type":"ui_gauge","z":"6da14c3a.4f8cac","name":"CPU LOAD","group":"75135b86.7b19b4","order":1,"width":"0","height":"0","gtype":"donut","title":"CPU LOAD","label":"%","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":240,"wires":[]},{"id":"ac476328.471f6","type":"ui_chart","z":"6da14c3a.4f8cac","name":"","group":"75135b86.7b19b4","order":2,"width":0,"height":0,"label":"CPU LOAD","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":280,"wires":[[],[]]},{"id":"51bbbc55.e0dcdc","type":"ui_chart","z":"6da14c3a.4f8cac","name":"","group":"5c1a54f6.3290f4","order":2,"width":0,"height":0,"label":"T CPU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":740.3333129882812,"y":133.55555725097656,"wires":[[],[]]},{"id":"3283f696.55530a","type":"ui_button","z":"6da14c3a.4f8cac","name":"","group":"6e19f892.7e223","order":2,"width":"0","height":"0","passthru":false,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":700,"wires":[["f380dad4.d0cfd"]]},{"id":"f380dad4.d0cfd","type":"exec","z":"6da14c3a.4f8cac","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":287.555419921875,"y":699.9999694824219,"wires":[[],[],[]]},{"id":"168e309a.ef08cf","type":"ui_button","z":"6da14c3a.4f8cac","name":"","group":"6e19f892.7e223","order":3,"width":"0","height":"0","passthru":false,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":96.66665649414062,"y":763.333251953125,"wires":[["cb0fb468.5bd7a8"]]},{"id":"cb0fb468.5bd7a8","type":"exec","z":"6da14c3a.4f8cac","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":296.6666564941406,"y":763.333251953125,"wires":[[],[],[]]},{"id":"eae33a6.d0af5c8","type":"exec","z":"6da14c3a.4f8cac","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Disk Usage","x":290,"y":580,"wires":[["eb9b033a.7b72f","15eca5b3.27fcfa"],[],[]]},{"id":"2e33546c.5ab6cc","type":"ui_gauge","z":"6da14c3a.4f8cac","name":"","group":"ef65a4a6.62bf88","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":738,"y":514,"wires":[]},{"id":"eb9b033a.7b72f","type":"function","z":"6da14c3a.4f8cac","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":478,"y":554,"wires":[["2e33546c.5ab6cc","6d568c1f.6ab89c"]]},{"id":"81c39ba6.a86e98","type":"ui_button","z":"6da14c3a.4f8cac","name":"","group":"6e19f892.7e223","order":0,"width":"0","height":"0","passthru":false,"label":"Clear Cache","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":96.66665649414062,"y":823.333251953125,"wires":[["f67adcb3.08f698"]]},{"id":"f67adcb3.08f698","type":"exec","z":"6da14c3a.4f8cac","command":"sudo sh -c \"sync; echo 3 > /proc/sys/vm/drop_caches\"","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Clear Cache","x":296.6666564941406,"y":823.333251953125,"wires":[[],[],[]]},{"id":"bec41567.5d7c38","type":"inject","z":"6da14c3a.4f8cac","name":"","topic":"","payload":"","payloadType":"date","repeat":"43200","crontab":"","once":false,"x":96.66665649414062,"y":863.333251953125,"wires":[["f67adcb3.08f698"]]},{"id":"6d568c1f.6ab89c","type":"ui_chart","z":"6da14c3a.4f8cac","name":"","group":"ef65a4a6.62bf88","order":2,"width":0,"height":0,"label":"Disk Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":758,"y":554,"wires":[[],[]]},{"id":"79fee4c2.a98e04","type":"comment","z":"6da14c3a.4f8cac","name":"Clears cache every 12 hrs if not clicked","info":"","x":163.50006103515625,"y":903.9999771118164,"wires":[]},{"id":"c2e220e3.d3e53","type":"mqtt in","z":"30dce0f7.4d3258","name":"Landscape light Status","topic":"AlliedTest","qos":"2","broker":"9e28d0f3.d24b18","x":183,"y":229,"wires":[["e28553fa.fc3a18"]]},{"id":"53922976.3cbd3","type":"mqtt out","z":"30dce0f7.4d3258","name":"Landscape Light Control","topic":"AlliedTest","qos":"","retain":"false","broker":"9e28d0f3.d24b18","x":824,"y":588,"wires":[]},{"id":"6b99c6e.5700a38","type":"ui_button","z":"30dce0f7.4d3258","name":"Light On","group":"338f64fd.0de784","order":1,"width":"","height":"","passthru":false,"label":"Light On","color":"","bgcolor":"","icon":"","payload":"on_override","payloadType":"str","topic":"","x":170,"y":467,"wires":[["8e971da6.22e12"]]},{"id":"ee9c9cab.e34298","type":"ui_button","z":"30dce0f7.4d3258","name":"Light Off","group":"338f64fd.0de784","order":1,"width":"","height":"","passthru":false,"label":"Light Off","color":"","bgcolor":"","icon":"","payload":"off_override","payloadType":"str","topic":"","x":167,"y":559,"wires":[["8e971da6.22e12"]]},{"id":"11b1c609.c39c0a","type":"debug","z":"30dce0f7.4d3258","name":"","active":true,"console":"false","complete":"payload","x":789,"y":503,"wires":[]},{"id":"edaa55d1.a239c8","type":"e-mail","z":"30dce0f7.4d3258","server":"smtp.mail.att.net","port":"465","secure":true,"name":"5599030346@vtext.com","dname":"","x":816,"y":245,"wires":[]},{"id":"e28553fa.fc3a18","type":"ui_template","z":"30dce0f7.4d3258","group":"338f64fd.0de784","name":"On-Off Indicator","order":1,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between center\">\n<p flex>&nbsp;</p>\n    <ng-md-icon icon=\"wb_incandescent\" ng-style=\"{fill:msg.payload=='1' ?'red':'black'}\" size=\"32\"></ng-md-icon>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":371,"y":312,"wires":[["da701227.a9ee6"]]},{"id":"cc910d09.162c","type":"ui_switch","z":"30dce0f7.4d3258","name":"Enable Send SMS Status Message","label":"Enable Send SMS Status Message","group":"338f64fd.0de784","order":1,"width":"","height":"","passthru":true,"decouple":"false","topic":"AlliedTest","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":513,"y":171,"wires":[["770fbc72.39fc4c"]]},{"id":"ec8f2398.dd53d","type":"debug","z":"30dce0f7.4d3258","name":"","active":false,"console":"false","complete":"false","x":809,"y":340,"wires":[]},{"id":"770fbc72.39fc4c","type":"function","z":"30dce0f7.4d3258","name":"Switchvariable","func":"global.set(\"Sendsms\",msg.payload);\n","outputs":1,"noerr":0,"x":814,"y":176,"wires":[[]]},{"id":"93fe2c8e.7fa6e8","type":"function","z":"30dce0f7.4d3258","name":"SendSMS","func":"var Sendmessage=global.get(\"Sendsms\");\nif (Sendmessage==\"true\")\n{\nreturn msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":608,"y":243,"wires":[["edaa55d1.a239c8","ec8f2398.dd53d"]]},{"id":"da701227.a9ee6","type":"function","z":"30dce0f7.4d3258","name":"Format Status Text","func":"m = msg.payload;\nif (m == \"1\")\n{\n    return {payload:\"Landscape Lights On\"};\n}\nelse if (m == \"0\")\n{\n    return {payload:\"Landscape Lights Off\"};\n}","outputs":1,"noerr":0,"x":431,"y":243,"wires":[["93fe2c8e.7fa6e8"]]},{"id":"80744daa.92c","type":"ui_button","z":"30dce0f7.4d3258","name":"Auto","group":"338f64fd.0de784","order":1,"width":"","height":"","passthru":false,"label":"Auto","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":159,"y":514,"wires":[["8e971da6.22e12"]]},{"id":"8e971da6.22e12","type":"bigtimer","z":"30dce0f7.4d3258","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Landscape Lights","lat":"36.797025","lon":"-119.670181","starttime":"5001","endtime":"1335","startoff":0,"endoff":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":415,"y":524.5,"wires":[[],[],[]]},{"id":"310ac3a0.d60a8c","type":"inject","z":"6da14c3a.4f8cac","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":110,"y":580,"wires":[["eae33a6.d0af5c8"]]},{"id":"ad8b2564.bc988","type":"inject","z":"6da14c3a.4f8cac","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":96.99996948242188,"y":277.99998474121094,"wires":[["7db3ce02.682f48","efdeb0d9.83dc2","84b39919.236538"]]},{"id":"ce6279aa.faf408","type":"comment","z":"c58c7d4f.61534","name":"MQTT DATA TO MYSQL tests","info":"","x":275,"y":79,"wires":[]},{"id":"1686edb7.52cdd2","type":"inject","z":"c58c7d4f.61534","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["6c7817dd.932e58"]]},{"id":"6c7817dd.932e58","type":"function","z":"c58c7d4f.61534","name":"INSERT Bind","func":"msg.topic = \"INSERT INTO MQTTData (id,payload) VALUES (?,?)\";\nmsg.payload = [2, \"This is a funny world's end\"];\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[[]]},{"id":"191d4d3a.3f4243","type":"inject","z":"c58c7d4f.61534","name":"Go","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":260,"wires":[["6227c359.88bc8c"]]},{"id":"6227c359.88bc8c","type":"function","z":"c58c7d4f.61534","name":"INSERT Old","func":"msg.topic = \"INSERT INTO test (id,text) VALUES (3,'Directly in topic')\";\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":260,"wires":[[]]},{"id":"a0c3bad2.d89a38","type":"inject","z":"c58c7d4f.61534","name":"Go","topic":"","payload":"funny","payloadType":"string","repeat":"","crontab":"","once":false,"x":161,"y":420,"wires":[["722c8687.eae3b8"]]},{"id":"722c8687.eae3b8","type":"function","z":"c58c7d4f.61534","name":"SELECT Old","func":"msg.topic = \"SELECT * FROM test WHERE text LIKE '%\" + msg.payload + \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":423,"wires":[[]]},{"id":"b0363c27.8545d","type":"inject","z":"c58c7d4f.61534","name":"INSERT Bind - via JSON","topic":"INSERT INTO test (id,text) VALUES (?, ?)","payload":"[4, \"This is a funny world's end\"]","payloadType":"str","repeat":"","crontab":"","once":false,"x":163,"y":321,"wires":[["9023c70f.6a6ad8"]]},{"id":"9023c70f.6a6ad8","type":"json","z":"c58c7d4f.61534","name":"","pretty":false,"x":363,"y":321,"wires":[[]]},{"id":"6c5a952b.10288c","type":"inject","z":"c58c7d4f.61534","name":"Go \"funny\"","topic":"","payload":"%funny%","payloadType":"string","repeat":"","crontab":"","once":false,"x":160,"y":480,"wires":[["d21bf451.35dc58"]]},{"id":"d21bf451.35dc58","type":"function","z":"c58c7d4f.61534","name":"SELECT Bind","func":"msg.topic = \"SELECT * FROM test WHERE text LIKE ?\";\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"x":400,"y":480,"wires":[[]]},{"id":"b9ef7d7b.b5a4a","type":"inject","z":"c58c7d4f.61534","name":"Go \"world's\"","topic":"","payload":"%world's%","payloadType":"string","repeat":"","crontab":"","once":false,"x":170,"y":540,"wires":[["d21bf451.35dc58"]]},{"id":"5e15c313.d902bc","type":"mqtt out","z":"c58c7d4f.61534","name":"lamp 1","topic":"room1/lamp1","qos":"","retain":"","broker":"9e28d0f3.d24b18","x":532,"y":546.9999694824219,"wires":[]},{"id":"4d7ced09.77d2e4","type":"ui_switch","z":"c58c7d4f.61534","name":"Lamp 1","label":"Lamp-1","group":"2c0343d6.86632c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room1/lamp1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":388,"y":547.9999694824219,"wires":[["5e15c313.d902bc"]]},{"id":"156a793b.eaabe7","type":"function","z":"6da14c3a.4f8cac","name":"SubString","func":"str = msg.payload \nmsg.payload  = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":470.33331298828125,"y":93.55555725097656,"wires":[["3c8b9802.920ed8","51bbbc55.e0dcdc","a599ec2e.1f1ad"]]},{"id":"4d41afaf.432cb","type":"function","z":"6da14c3a.4f8cac","name":"SubString","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into NRSystem (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Pi-Node_red\\\",\\\"CPU-LOAD\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":490.5555419921875,"y":317.44444274902344,"wires":[[]]},{"id":"c9d10885.d5dec8","type":"mysql","z":"6da14c3a.4f8cac","mydb":"6a00af47.5683","name":"MYSQL","x":739.6666870117188,"y":326.44444274902344,"wires":[[]]},{"id":"15eca5b3.27fcfa","type":"function","z":"6da14c3a.4f8cac","name":"SubString","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\n\nvar newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into NRSystem (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Pi-Node_red\\\",\\\"Disk-Usage\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":498,"y":594,"wires":[[]]},{"id":"bd723cdc.5ef1b","type":"mysql","z":"6da14c3a.4f8cac","mydb":"6a00af47.5683","name":"MYSQL","x":750.0000610351562,"y":598.8888854980469,"wires":[[]]},{"id":"84b39919.236538","type":"exec","z":"6da14c3a.4f8cac","command":"free | grep Mem | awk '{print 100*($3+$5+$6)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Free Memory","x":300,"y":440,"wires":[["8d54d0f4.0467d","79cd938.dabe46c","dbcd44bf.33b4e8"],[],[]]},{"id":"8d54d0f4.0467d","type":"ui_gauge","z":"6da14c3a.4f8cac","name":"","group":"43b2b585.fd8ffc","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":380,"wires":[]},{"id":"dbcd44bf.33b4e8","type":"function","z":"6da14c3a.4f8cac","name":"SubString","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into NRSystem (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Pi-Node_red\\\",\\\"Memory Usage\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[[]]},{"id":"ab10bd83.09ed4","type":"mysql","z":"6da14c3a.4f8cac","mydb":"6a00af47.5683","name":"MYSQL","x":739.6666870117188,"y":466.44444274902344,"wires":[[]]},{"id":"79cd938.dabe46c","type":"ui_chart","z":"6da14c3a.4f8cac","name":"","group":"43b2b585.fd8ffc","order":2,"width":0,"height":0,"label":"Memory","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":740.2222290039062,"y":423.8888854980469,"wires":[[],[]]},{"id":"46e5a063.821c8","type":"function","z":"6da14c3a.4f8cac","name":"SubString","func":"str = msg.payload \nmsg.payload  = str.substring(5, 9);\n\nvar newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into NRSystem (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Pi-Node_red\\\",\\\"CPU-TEMP\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":470.5555419921875,"y":137.44444274902344,"wires":[[]]},{"id":"eaeb452c.fa56d8","type":"mysql","z":"6da14c3a.4f8cac","mydb":"6a00af47.5683","name":"MYSQL","x":740,"y":180,"wires":[[]]},{"id":"9b504ed8.582d","type":"inject","z":"6ee6fffc.c7a9d","name":"","topic":"","payload":"","payloadType":"num","repeat":"5","crontab":"","once":true,"x":460,"y":691.8450571468898,"wires":[["4b7ab10c.11e8a"]]},{"id":"4b7ab10c.11e8a","type":"exec","z":"6ee6fffc.c7a9d","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","timer":"","oldrc":false,"name":"getCPUtemp","x":628.6031188964844,"y":692.3053517341614,"wires":[["530b22cb.ce03cc"],[],[]]},{"id":"530b22cb.ce03cc","type":"function","z":"6ee6fffc.c7a9d","name":"CPU Temp Function","func":"//msg.payload = {'d':{'temp': parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"))}};\nmsg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":836.1904220581055,"y":679.5593800544739,"wires":[[]]},{"id":"530f897b.f40c98","type":"comment","z":"6ee6fffc.c7a9d","name":"Check CPU's Temperature","info":"","x":496,"y":642.4643198422023,"wires":[]},{"id":"a599ec2e.1f1ad","type":"mqtt out","z":"6da14c3a.4f8cac","name":"MQTT-CpuTemp","topic":"topic/cpuTemp","qos":"2","retain":"","broker":"9e28d0f3.d24b18","x":770,"y":40,"wires":[]},{"id":"8a9b25c7.767cf8","type":"mqtt in","z":"668f07ae.6c1b2","name":"","topic":"#","qos":"2","broker":"9e28d0f3.d24b18","x":70,"y":60,"wires":[["45bb49e4.6385d8","d5af5c65.3a74b8"]]},{"id":"45bb49e4.6385d8","type":"debug","z":"668f07ae.6c1b2","name":"MQTT # RAW","active":false,"console":"false","complete":"payload","x":680,"y":60,"wires":[]},{"id":"d5af5c65.3a74b8","type":"function","z":"668f07ae.6c1b2","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":180,"wires":[["7f1d5861.80af5","761be139.cfb698"]]},{"id":"7f1d5861.80af5","type":"debug","z":"668f07ae.6c1b2","name":"mqtt array","active":true,"console":"false","complete":"payload","x":670,"y":180,"wires":[]},{"id":"761be139.cfb698","type":"ui_template","z":"668f07ae.6c1b2","group":"7daac647.c59d38","name":"MQTT Output","order":1,"width":"8","height":"10","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":140,"wires":[[]]},{"id":"4ceac80f.9a82c","type":"comment","z":"668f07ae.6c1b2","name":"MQTT Console","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":80,"y":20,"wires":[]},{"id":"e439785d.562a1","type":"mqtt out","z":"e9c8b028.34811","name":"room1/light1","topic":"room1/light1","qos":"","retain":"","broker":"9e28d0f3.d24b18","x":260,"y":100,"wires":[]},{"id":"81cfe65b.8acc68","type":"mqtt out","z":"e9c8b028.34811","name":"room2/light1","topic":"room2/light1","qos":"","retain":"","broker":"9e28d0f3.d24b18","x":260,"y":200,"wires":[]},{"id":"9d6501db.8eb13","type":"comment","z":"e9c8b028.34811","name":"Lighting","info":"","x":89,"y":35,"wires":[]},{"id":"8f442097.968c7","type":"mqtt in","z":"36b8f532.e9e362","name":"room4/temperature","topic":"room4/temperature","qos":"2","broker":"9e28d0f3.d24b18","x":110,"y":100,"wires":[["bf301736.59ed2","f5f134cc.92a178"]]},{"id":"bf301736.59ed2","type":"ui_chart","z":"36b8f532.e9e362","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":330,"y":100,"wires":[[],[]]},{"id":"f5f134cc.92a178","type":"ui_gauge","z":"36b8f532.e9e362","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"F","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":160,"wires":[]},{"id":"6ec7893b.3db18","type":"comment","z":"36b8f532.e9e362","name":"Climate controlls","info":"","x":119,"y":54,"wires":[]},{"id":"b3283ce6.248b58","type":"debug","z":"6da14c3a.4f8cac","name":"","active":false,"console":"false","complete":"payload","x":292.2221984863281,"y":33.333290100097656,"wires":[]},{"id":"977f3b27.1083d8","type":"mosca in","z":"6da14c3a.4f8cac","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MQTT Broker","username":"nodered","password":"nodered","dburl":"","x":91.22219848632812,"y":33.333290100097656,"wires":[["b3283ce6.248b58"]]},{"id":"be6d9bb4.dc238","type":"function","z":"e9c8b028.34811","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room1\\\",\\\"Light1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["67474cb9.a4282c"]]},{"id":"67474cb9.a4282c","type":"mysql","z":"e9c8b028.34811","mydb":"6a00af47.5683","name":"MYSQL","x":720,"y":100,"wires":[[]]},{"id":"eb9e26.68e289d8","type":"mqtt in","z":"e9c8b028.34811","name":"room1/light1","topic":"room1/light1","qos":"2","broker":"9e28d0f3.d24b18","x":410,"y":100,"wires":[["be6d9bb4.dc238"]]},{"id":"c971628f.328478","type":"function","z":"e9c8b028.34811","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room2\\\",\\\"Light1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["3e6b9f25.1a7e8"]]},{"id":"3e6b9f25.1a7e8","type":"mysql","z":"e9c8b028.34811","mydb":"6a00af47.5683","name":"MYSQL","x":720,"y":200,"wires":[[]]},{"id":"a9c8a631.fb63c8","type":"mqtt in","z":"e9c8b028.34811","name":"room2/light1","topic":"room2/light1","qos":"2","broker":"9e28d0f3.d24b18","x":410,"y":200,"wires":[["c971628f.328478"]]},{"id":"faf36de6.551bc8","type":"mqtt out","z":"e9c8b028.34811","name":"room3/light1","topic":"room3/light1","qos":"","retain":"","broker":"9e28d0f3.d24b18","x":260,"y":300,"wires":[]},{"id":"296e8678.acc912","type":"function","z":"e9c8b028.34811","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room3\\\",\\\"Light1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["44111640.e5c598"]]},{"id":"44111640.e5c598","type":"mysql","z":"e9c8b028.34811","mydb":"6a00af47.5683","name":"MYSQL","x":720,"y":300,"wires":[[]]},{"id":"7473a13f.fa01a","type":"mqtt in","z":"e9c8b028.34811","name":"room3/light1","topic":"room3/light1","qos":"2","broker":"9e28d0f3.d24b18","x":410,"y":300,"wires":[["296e8678.acc912"]]},{"id":"5366d233.9dda6c","type":"mqtt out","z":"e9c8b028.34811","name":"room4/light1","topic":"room4/light1","qos":"","retain":"","broker":"9e28d0f3.d24b18","x":260,"y":400,"wires":[]},{"id":"e529d147.dc2e48","type":"function","z":"e9c8b028.34811","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room4\\\",\\\"Light1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["7dd52999.6c17d8"]]},{"id":"7dd52999.6c17d8","type":"mysql","z":"e9c8b028.34811","mydb":"6a00af47.5683","name":"MYSQL","x":720,"y":400,"wires":[[]]},{"id":"f547ce32.46d4d","type":"mqtt in","z":"e9c8b028.34811","name":"room4/light1","topic":"room4/light1","qos":"2","broker":"9e28d0f3.d24b18","x":410,"y":400,"wires":[["e529d147.dc2e48"]]},{"id":"ac4b9975.b7e24","type":"mqtt out","z":"e9c8b028.34811","name":"room5/light1","topic":"room5/light1","qos":"","retain":"","broker":"9e28d0f3.d24b18","x":260,"y":500,"wires":[]},{"id":"55c3cc2e.be66a4","type":"function","z":"e9c8b028.34811","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room5\\\",\\\"Light1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":570,"y":500,"wires":[["8cdd0e3d.071a98"]]},{"id":"8cdd0e3d.071a98","type":"mysql","z":"e9c8b028.34811","mydb":"6a00af47.5683","name":"MYSQL","x":720,"y":500,"wires":[[]]},{"id":"3d18236b.dfc314","type":"mqtt in","z":"e9c8b028.34811","name":"room5/light1","topic":"room5/light1","qos":"2","broker":"9e28d0f3.d24b18","x":410,"y":500,"wires":[["55c3cc2e.be66a4"]]},{"id":"f4c0f4a8.93d5c8","type":"function","z":"36b8f532.e9e362","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room4\\\",\\\"Temperature\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":100,"wires":[["3956f9f9.50fdb6"]]},{"id":"3956f9f9.50fdb6","type":"mysql","z":"36b8f532.e9e362","mydb":"6a00af47.5683","name":"MYSQL","x":900,"y":100,"wires":[[]]},{"id":"f90933a4.f210b8","type":"mqtt in","z":"36b8f532.e9e362","name":"room4/temperature","topic":"room4/temperature","qos":"2","broker":"9e28d0f3.d24b18","x":550,"y":100,"wires":[["f4c0f4a8.93d5c8"]]},{"id":"5ec885b.13a27fc","type":"function","z":"bec2020.523948","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Unit1\\\",\\\"Door1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":60,"wires":[["91d19d5c.9fc2f8"]]},{"id":"91d19d5c.9fc2f8","type":"mysql","z":"bec2020.523948","mydb":"6a00af47.5683","name":"MYSQL","x":400,"y":60,"wires":[[]]},{"id":"5f15cb0f.edb134","type":"mqtt in","z":"bec2020.523948","name":"unit1/door1","topic":"unit1/door1","qos":"2","broker":"9e28d0f3.d24b18","x":80,"y":60,"wires":[["5ec885b.13a27fc"]]},{"id":"61e4861e.34fde","type":"function","z":"bec2020.523948","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Unit4\\\",\\\"Window1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["896e6235.3c51b8"]]},{"id":"896e6235.3c51b8","type":"mysql","z":"bec2020.523948","mydb":"6a00af47.5683","name":"MYSQL","x":400,"y":120,"wires":[[]]},{"id":"b65c0ab3.3fc09","type":"mqtt in","z":"bec2020.523948","name":"unit4/window1","topic":"unit1/window1","qos":"2","broker":"9e28d0f3.d24b18","x":90,"y":120,"wires":[["61e4861e.34fde"]]},{"id":"d2c642c7.50d12","type":"comment","z":"bec2020.523948","name":"Door / Window sensors","info":"","x":100,"y":20,"wires":[]},{"id":"f383f9d9.1f33c","type":"comment","z":"bec2020.523948","name":"Motion Sensors","info":"","x":80,"y":220,"wires":[]},{"id":"512301b7.3b5978","type":"mqtt in","z":"36b8f532.e9e362","name":"room6/temperature","topic":"room6/temperature","qos":"2","broker":"9e28d0f3.d24b18","x":110,"y":260,"wires":[["c3ba1eaf.62711","4c624997.46f11"]]},{"id":"c3ba1eaf.62711","type":"ui_chart","z":"36b8f532.e9e362","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":330,"y":260,"wires":[[],[]]},{"id":"4c624997.46f11","type":"ui_gauge","z":"36b8f532.e9e362","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"F","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":320,"wires":[]},{"id":"d07a0176.e9c37","type":"function","z":"36b8f532.e9e362","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room6\\\",\\\"Temperature\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["4ed161c6.1405c"]]},{"id":"4ed161c6.1405c","type":"mysql","z":"36b8f532.e9e362","mydb":"6a00af47.5683","name":"MYSQL","x":880,"y":260,"wires":[[]]},{"id":"3f22ff75.50c16","type":"mqtt in","z":"36b8f532.e9e362","name":"room6/temperature","topic":"room6/temperature","qos":"2","broker":"9e28d0f3.d24b18","x":550,"y":260,"wires":[["d07a0176.e9c37"]]},{"id":"17eeee78.dbc4b2","type":"mqtt in","z":"36b8f532.e9e362","name":"ext/water","topic":"ext/water","qos":"2","broker":"9e28d0f3.d24b18","x":80,"y":420,"wires":[["b686e83f.d78eb8","d0ce1473.153f38"]]},{"id":"b686e83f.d78eb8","type":"ui_chart","z":"36b8f532.e9e362","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":330,"y":420,"wires":[[],[]]},{"id":"d0ce1473.153f38","type":"ui_gauge","z":"36b8f532.e9e362","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"F","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":480,"wires":[]},{"id":"fc8a34e9.00595","type":"function","z":"36b8f532.e9e362","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"exterior\\\",\\\"water\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["e782194b.7d62a8"]]},{"id":"e782194b.7d62a8","type":"mysql","z":"36b8f532.e9e362","mydb":"6a00af47.5683","name":"MYSQL","x":840,"y":420,"wires":[[]]},{"id":"9d3dfe8d.11e568","type":"mqtt in","z":"36b8f532.e9e362","name":"ext/water","topic":"ext/water","qos":"2","broker":"9e28d0f3.d24b18","x":520,"y":420,"wires":[["fc8a34e9.00595"]]},{"id":"658d00fb.4f68a","type":"mqtt in","z":"36b8f532.e9e362","name":"room3/AQ (Air Quality)","topic":"room3/AQ","qos":"2","broker":"9e28d0f3.d24b18","x":120,"y":580,"wires":[["7d019b92.76a01c","9c8c420d.2628b8"]]},{"id":"7d019b92.76a01c","type":"ui_chart","z":"36b8f532.e9e362","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":330,"y":580,"wires":[[],[]]},{"id":"9c8c420d.2628b8","type":"ui_gauge","z":"36b8f532.e9e362","name":"","group":"eb870b47.bd28e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"F","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":640,"wires":[]},{"id":"56fb652e.2406bc","type":"function","z":"36b8f532.e9e362","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room3\\\",\\\"Air Quality\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["c0666796.ba00e"]]},{"id":"c0666796.ba00e","type":"mysql","z":"36b8f532.e9e362","mydb":"6a00af47.5683","name":"MYSQL","x":900,"y":580,"wires":[[]]},{"id":"52e4ad35.9ac914","type":"mqtt in","z":"36b8f532.e9e362","name":"room3/AQ (Air Quality)","topic":"room3/AQ","qos":"2","broker":"9e28d0f3.d24b18","x":560,"y":580,"wires":[["56fb652e.2406bc"]]},{"id":"6e022043.74eee8","type":"function","z":"bec2020.523948","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room1\\\",\\\"Lamp1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["9bb43f8a.f7fc18"]]},{"id":"9bb43f8a.f7fc18","type":"mysql","z":"bec2020.523948","mydb":"6a00af47.5683","name":"MYSQL","x":400,"y":260,"wires":[[]]},{"id":"4c476ca0.cb0094","type":"mqtt in","z":"bec2020.523948","name":"unit5/motion1","topic":"unit5/motion1","qos":"2","broker":"9e28d0f3.d24b18","x":90,"y":260,"wires":[["6e022043.74eee8"]]},{"id":"71704f5c.146af","type":"function","z":"bec2020.523948","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room1\\\",\\\"Lamp1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["75078a70.d126bc"]]},{"id":"75078a70.d126bc","type":"mysql","z":"bec2020.523948","mydb":"6a00af47.5683","name":"MYSQL","x":400,"y":320,"wires":[[]]},{"id":"b61a6684.257238","type":"mqtt in","z":"bec2020.523948","name":"unit5/motion2","topic":"Unit5/Motion2","qos":"2","broker":"9e28d0f3.d24b18","x":90,"y":320,"wires":[["71704f5c.146af"]]},{"id":"78f28610.8a50f","type":"function","z":"bec2020.523948","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Room1\\\",\\\"Lamp1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["fe1b55eb.fceb08"]]},{"id":"fe1b55eb.fceb08","type":"mysql","z":"bec2020.523948","mydb":"6a00af47.5683","name":"MYSQL","x":400,"y":380,"wires":[[]]},{"id":"7e21b969.12628","type":"mqtt in","z":"bec2020.523948","name":"unit5/motion3","topic":"Unit5/Motion3","qos":"2","broker":"9e28d0f3.d24b18","x":90,"y":380,"wires":[["78f28610.8a50f"]]},{"id":"35bf185e.a9f618","type":"mqtt out","z":"e9c8b028.34811","name":"ext/light1","topic":"ext/light1","qos":"","retain":"","broker":"9e28d0f3.d24b18","x":250,"y":580,"wires":[]},{"id":"f8c09348.ed7b18","type":"function","z":"e9c8b028.34811","name":"query","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"insert into MQTTData (Building,Location,Sensor,value,Date) values (\\\"GCH\\\",\\\"Perim\\\",\\\"Light1\\\",\"+newMsg.payload+\",now())\";\nreturn newMsg;","outputs":1,"noerr":0,"x":570,"y":580,"wires":[["5d3825c6.698bf4"]]},{"id":"5d3825c6.698bf4","type":"mysql","z":"e9c8b028.34811","mydb":"6a00af47.5683","name":"MYSQL","x":720,"y":580,"wires":[[]]},{"id":"27537f93.c8e108","type":"mqtt in","z":"e9c8b028.34811","name":"ext/light1","topic":"ext/light1","qos":"2","broker":"9e28d0f3.d24b18","x":400,"y":580,"wires":[["f8c09348.ed7b18"]]},{"id":"ef588c40.8f3ab","type":"ui_text_input","z":"6ee6fffc.c7a9d","name":"Message","label":"Message","group":"7daac647.c59d38","order":3,"width":"","height":"","passthru":true,"mode":"text","delay":"300","topic":"message","x":332,"y":312,"wires":[["30718700.62201a"]]},{"id":"9e739b96.468b28","type":"ui_button","z":"6ee6fffc.c7a9d","name":"Submit","group":"7daac647.c59d38","order":4,"width":"8","height":"2","passthru":false,"label":"SUBMIT","color":"black","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":332,"y":352,"wires":[["30718700.62201a"]]},{"id":"30718700.62201a","type":"function","z":"6ee6fffc.c7a9d","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":622,"y":312,"wires":[["7ef0922f.a5c57c","94774dd0.8b2fa"]]},{"id":"7ef0922f.a5c57c","type":"debug","z":"6ee6fffc.c7a9d","name":"MQTT Monitor","active":true,"console":"false","complete":"true","x":912,"y":272,"wires":[]},{"id":"2bce1439.4ca0ec","type":"ui_text_input","z":"6ee6fffc.c7a9d","name":"Topic","label":"Topic/","group":"7daac647.c59d38","order":2,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"topic","x":322,"y":272,"wires":[["30718700.62201a"]]},{"id":"94774dd0.8b2fa","type":"mqtt out","z":"6ee6fffc.c7a9d","name":"","topic":"","qos":"","retain":"","broker":"9e28d0f3.d24b18","x":876,"y":307,"wires":[]},{"id":"b09ee232.68c02","type":"ui_switch","z":"e9c8b028.34811","name":"Room1 Light","label":"Room1 Light","group":"cf5bcb0a.28a2a8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room1/lamp1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":106,"y":101,"wires":[["e439785d.562a1","5b586594.f52b0c"]]},{"id":"ba73f9b8.c6aa28","type":"ui_switch","z":"e9c8b028.34811","name":"Room2 Light","label":"Room2 Light","group":"cf5bcb0a.28a2a8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room2/lamp1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":106,"y":201,"wires":[["81cfe65b.8acc68"]]},{"id":"38805c79.28cc04","type":"ui_switch","z":"e9c8b028.34811","name":"Room3 Light","label":"Room3 Light","group":"cf5bcb0a.28a2a8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room3/lamp1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":106,"y":301,"wires":[["faf36de6.551bc8"]]},{"id":"bf0d64ca.de00a8","type":"ui_switch","z":"e9c8b028.34811","name":"Room4 Light","label":"Room4 Light","group":"cf5bcb0a.28a2a8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room4/lamp1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":106,"y":401,"wires":[["5366d233.9dda6c"]]},{"id":"4cef7efc.2415f8","type":"ui_switch","z":"e9c8b028.34811","name":"Room5 Light","label":"Room5 Light","group":"cf5bcb0a.28a2a8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room5/lamp1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":106,"y":501,"wires":[["ac4b9975.b7e24"]]},{"id":"1a5246ee.d12801","type":"ui_switch","z":"e9c8b028.34811","name":"Outside Light","label":"Outside Light","group":"cf5bcb0a.28a2a8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Perim/lamp1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":106,"y":581,"wires":[["35bf185e.a9f618"]]},{"id":"759b7d3.5bb0284","type":"inject","z":"6da14c3a.4f8cac","name":"","topic":"","payload":"","payloadType":"num","repeat":"5","crontab":"","once":true,"x":494.0175323486328,"y":927.8449622562953,"wires":[["7db0800b.a303e"]]},{"id":"7db0800b.a303e","type":"exec","z":"6da14c3a.4f8cac","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":662.6206512451172,"y":928.3052568435669,"wires":[["5b77b617.6e93b8"],[],[]]},{"id":"5b77b617.6e93b8","type":"function","z":"6da14c3a.4f8cac","name":"CPU Temp Function","func":"//msg.payload = {'d':{'temp': parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"))}};\nmsg.payload = parseFloat(msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":870.2079544067383,"y":915.5592851638794,"wires":[["a93e2750.faaf08"]]},{"id":"a93e2750.faaf08","type":"mqtt out","z":"6da14c3a.4f8cac","name":"MQTT-CpuTemp","topic":"topic/cpuTemp","qos":"2","retain":"","broker":"9e28d0f3.d24b18","x":1093.1605415344238,"y":915.4643712043762,"wires":[]},{"id":"67000636.d7fab8","type":"comment","z":"6da14c3a.4f8cac","name":"Check CPU's Temperature","info":"","x":531.0175628662109,"y":881.4642162322998,"wires":[]},{"id":"fb02048a.ec5818","type":"comment","z":"6da14c3a.4f8cac","name":"PID Control For CPU Temperature of Raspberry PI","info":"","x":603.2317352294922,"y":686.9999208450317,"wires":[]},{"id":"735e0e42.008c3","type":"PID control","z":"6da14c3a.4f8cac","name":"PID Controller","target":"53","kp":"85","ki":"1","kd":"5","x":704.2793273925781,"y":736.3332710266113,"wires":[["768a5b69.2720c4"]]},{"id":"78ee08a4.0378a8","type":"mqtt in","z":"6da14c3a.4f8cac","name":"MQTT-cpuTemp","topic":"topic/cpuTemp","qos":"2","broker":"9e28d0f3.d24b18","x":508.8507766723633,"y":738.4282989501953,"wires":[["735e0e42.008c3"]]},{"id":"5d6570f8.99923","type":"function","z":"6da14c3a.4f8cac","name":"PLANT","func":"var PID = msg.payload; // PID Value\nvar cycle; // PWM duty cycle\nvar adjustment = 0; // duty cycle adjustment\n\nvar cycle = parseFloat(adjustment) + parseFloat(PID);\n\nif(cycle<0){\n    msg.payload=0;\n    return msg;\n}\n\nelse if(cycle>100){\n    msg.payload=1;\n    return msg;\n}\n\nelse\n{\n    msg.payload = parseFloat(cycle); \n   // 0 - 100\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":718.2912902832031,"y":831.5592632293701,"wires":[["bda47e25.4a9be"]]},{"id":"768a5b69.2720c4","type":"mqtt out","z":"6da14c3a.4f8cac","name":"MQTT-pidController","topic":"topic/pidController","qos":"2","retain":"","broker":"9e28d0f3.d24b18","x":971.0888693673269,"y":737.9521202359881,"wires":[]},{"id":"9b4b90b7.cef46","type":"mqtt in","z":"6da14c3a.4f8cac","name":"MQTT-pidController","topic":"topic/pidController","qos":"2","broker":"9e28d0f3.d24b18","x":522.2317532130651,"y":831.3806764057704,"wires":[["5d6570f8.99923"]]},{"id":"ce1fbab.2938a48","type":"comment","z":"6da14c3a.4f8cac","name":"PID - PLANT","info":"","x":493.66032464163663,"y":787.8092478343418,"wires":[]},{"id":"bda47e25.4a9be","type":"rpi-gpio out","z":"6da14c3a.4f8cac","name":"","pin":"12","set":false,"level":"0","freq":"","out":"out","x":931.0174674987793,"y":836.2325630187988,"wires":[]},{"id":"5b586594.f52b0c","type":"rpi-gpio out","z":"e9c8b028.34811","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":245,"y":155,"wires":[]},{"id":"639f73d7.0949cc","type":"inject","z":"6da14c3a.4f8cac","name":"DHT-1","topic":"Temperature","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":72,"y":1004,"wires":[[]]},{"id":"9b7f621a.4a7048","type":"http response","z":"c58c7d4f.61534","name":"","statusCode":"","headers":{},"x":764,"y":787.38330078125,"wires":[]},{"id":"f50a26bc.22f298","type":"inject","z":"c58c7d4f.61534","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":124,"y":805.38330078125,"wires":[[]]},{"id":"d5b268e7.8731e","type":"rpi-gpio out","z":"c58c7d4f.61534","name":"","pin":"","set":"","level":"0","freq":"","out":"out","x":211.44998168945312,"y":645.4166564941406,"wires":[]},{"id":"b7f4a0de.47d288","type":"inject","z":"c58c7d4f.61534","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":424.88330078125,"y":943.63330078125,"wires":[[]]},{"id":"c239816c.7a5208","type":"debug","z":"c58c7d4f.61534","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":960,"wires":[]},{"id":"f0241777.f2592","type":"function","z":"c58c7d4f.61534","name":"Capture Data","func":"var msg1 = {};\nvar msg2 = {};\nmsg1.payload = msg['mx:temperature'] = msg.payload;\nmsg2.payload = msg['mx:Humidity'] = msg.payload;\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":490,"y":1100,"wires":[["c239816c.7a5208"],[]]},{"id":"763adcc9.84eaec","type":"inject","z":"c58c7d4f.61534","name":"Interval","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":117.88330078125,"y":1067.63330078125,"wires":[["294e802a.1350a"]]},{"id":"294e802a.1350a","type":"rpi-dht22","z":"c58c7d4f.61534","name":"","topic":"rpi-dht22","dht":22,"pintype":"2","pin":"7","x":280,"y":1020,"wires":[["c239816c.7a5208"]]}]